body{
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-size: 100%;
	background-color: black;
}

/* Tipografía */
h1{
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -2.29px;
  color: white;
  padding-bottom: 50px;
}

p{
	font-size: 26px;
	letter-spacing: -0.19px;
  font-weight: 300;
}

.section{
  overflow: hidden;
}

.icon, .share-button, .scroll-down-wrap{opacity: 0.6;}
.icon:hover, .share-button:hover, .scroll-down-wrap:hover{opacity: 1;}

.scrolltotop{
  position: absolute;
  bottom: 22px;
  right: 8px;
  z-index: 999;
}

.zoom{
  position: absolute;
  bottom: 30px;
  right: 82px;
}
.zoom2 {
    position: absolute;
    bottom: 0;
    right: 29px;
}
.scrolltotop img{width: 36px;}

.p60{padding: 60px;}
.pt20{padding-top: 20px;}
.pt40{padding-top: 40px;}
.pt80{padding-top: 80px;}
.pb10{padding-bottom: 10px;}

.left{float: left !important;}
.right{float: right !important;}
.mauto{margin: 0 auto;}

.flex-parent{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-child{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  //flex-direction: column;
}


.previs-top {
    position: absolute;
    left: 15%;
    top: -440px;
}

.previs-top-center{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.previs-top-left1{
    position: absolute;
    left: 12%;
    top: -164px;
}

.previs-top-left2 {
    position: absolute;
    left: -242px;
    top: -27%;
}

.previs-top-left3 {
    position: absolute;
    left: -17%;
    top: 2%;
}

.previs-top-right{
    position: absolute;
    right: 21%;
    top: 30%;
}

.previs-top-right2{
  position: absolute;
  right: 10%;
  top: -164px;
}

.previs-top-right3{
  position: absolute;
  right: 12%;
  top: -164px;
}

.previs-top-right4{
  position: absolute;
  right: -15%;
  top: -164px;
}

.previs-top-right5{
  position: absolute;
  right: 10%;
  top: -277px;
}

.previs-bottom-left{
  position: absolute;
  bottom: 3%;
  left: 25%;
}

.previs-bottom-left2{
  position: absolute;
  left: 4%;
  bottom: -27%;
}

.previs-tarjeta {
    position: absolute;
    right: 0;
    bottom: -276px;
}

.previs-top2{
  position: absolute;
  right: 10%;
  top: -77px;
}

.previs-top3{
    position: absolute;
    left: 15%;
    top: -110px;
}

.previs-top4{
    position: absolute;
    left: 15%;
    top: -145px;
}

.previs-bottom{
  position: absolute;
  left: 10%;
  bottom: -77px;
}

.previs-bottom-center{
  position: absolute;
  left: 0;
  right: 0;
  bottom: -117px;
  margin: 0 auto;
}

.previs-bottom-right {
    position: absolute;
    right: 10%;
    bottom: -77px;
}

.previs-bottom-right2 {
    position: absolute;
    bottom: 3%;
    right: 25%;
}

.previs-bottom-right3 {
    position: absolute;
    right: 10%;
    bottom: -157px;
}

.previs-bottom-right4 {
    position: absolute;
    right: -23%;
    bottom: -28%;
}
.previs-sello {
    position: absolute;
    right: -180px;
    bottom: -380px;
}

.absolute-center{
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.absolute-center-up{
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -114px;
}

.absolute-center-up2{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -214px;
}

.absolute-center-bottom1{
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 23%
}

.absolute-center-left {
    position: absolute;
    left: -98px;
}

.absolute-center-left2 {
    position: absolute;
    left: 23%;
}

.absolute-center-left3 {
    position: absolute;
    left: -213px;;
}

.absolute-center-right {
    position: absolute;
    right: -98px;
}

.absolute-center-right1{
  position: absolute;
  top: 55%;
  right: 20%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -33%;
}

.absolute-center-right2{
  position: absolute;
  top: 54%;
  right: 16%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -33%;
}

.absolute-center-right3{
  position: absolute;
  top: 59%;
  right: 12%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -33%;
}

.absolute-center-right4{
  position: absolute;
  right: -220px;
}

.absolute-center-right5 {
  position: absolute;
  right: 23%;
  bottom: 11%;
}

.absolute-center-right6 {
  position: absolute;
  right: -232px;
}

.rota5{
	transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
.rota3{
  transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
}

.rota25{
  transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -o-transform: rotate(25deg);
}

.rotam3{
  transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
}

.minidesc{font-size: 14px; font-style: italic;}

.fullheight{height: 100%;}

.fondo1{
	background: url(../img/uno/fondo.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fondo2{
  background: url(../img/dos/fondo.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fondo3{
  background: url(../img/tres/fondo.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fondo4{
  background: url(../img/cuatro/fondo.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fondo5{
  background: url(../img/cinco/fondo.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fondo6{
  background: url(../img/seis/fondo.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fondo7{
  background: url(../img/siete/fondo.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fondo8{
  background: url(../img/ocho/fondo.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.first .container {
    margin-top: -80px;
}

.seven p {
    font-size: 18px;
}

.centered{
	position: absolute;
	top: 50%;
  	transform: translateY(-50%);
}
.centered img, .max-img{
	max-width: 100%;
}

.imgw70{width: 70%;}
.imgmw320{max-width: 320px;}
.imgmw-media{max-width: 620px;}

.first .contenido,
.third .contenido{top: 40%;z-index: 999}
.third .titulodesc p {
    padding-bottom: 25px;
}

.img-esquina-r-t{
	position: absolute;
    top: -143px;
    right: -96px;
}

	.img-esquina-r-t img{
		width: 450px;
	    transform: rotate(-18deg);
	}
.img-esquina-l-b{
	position: absolute;
    bottom: -143px;
    left: 11px;
}

.img-esquina-l-b img{
	width: 450px;
    transform: rotate(13deg);
}

.fourth h1{font-size: 46px;}
.fourth .sobre{position: absolute;top: 29%;}


.aros{
	opacity: .7;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.cobi {
    position: fixed;
    bottom: 0;
    left: 30%;
}
  .cobi img{width: 75%;}

.titulodesc {
    padding-top: 60px;
}

.fondo4 .titulodesc{
  padding-top: 40px;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
	background: white;
}



/* Botonera Funcionalidades */

.scroll-down-wrap{
  transition:opacity 0.4s ease;
  -webkit-transition:opacity 0.4s ease;
  -moz-transition:opacity 0.4s ease;
}
.scroll-down-wrap,.scroll-down-wrap.no-border{
  position:fixed;
  bottom:20px;
  left:50%;
  width:60px;
  margin-left:-30px;
  z-index:101;
}
.scroll-down-wrap.no-border,.scroll-down-wrap.no-border{
  bottom:12px;
}
.scroll-down-wrap.no-border .section-down-arrow{
  display:inline-block;
  width:49px;
  height:49px;
  color:#fff!important;
  border:2px solid #fff;
  text-align:center;
  line-height:50px;
  border-radius:100px;
  font-size:25px;
  -webkit-border-radius:100px;
  transition:opacity 0.4s ease;
  -webkit-transition:opacity 0.4s ease;
  -moz-transition:opacity 0.4s ease;
  overflow:hidden;
  margin-left:0px;
  left:0;
  bottom:16px;
  opacity:0.6;
}
.scroll-down-wrap.no-border .section-down-arrow,.slider-down-arrow.no-border{
  border:none!important;
  overflow:visible;
  text- align:center;
  opacity:1;
  height:auto;
  bottom:13px;
  -webkit-animation:nudgeMouse 2.4s cubic-bezier(0.250,0.460,0.450,0.940) infinite;
  animation:nudgeMouse 2.4s cubic-bezier(0.250,0.460,0.450,0.940) infinite;
}
.nectar-scroll-icon-path{
  fill:transparent;
  stroke-width:2px;
  stroke-dashoffset:120;
  stroke-dasharray:120;
  -webkit-animation:mouse-scroll-btn-roll-out .55s cubic-bezier(.5,.1,.07,1);
  animation:mouse-scroll-btn-roll-out .55s cubic-bezier(.5,.1,.07,1);
}
.nectar-scroll-icon{
  width:30px;
  height:45px;
  text-align:center;
  cursor:pointer;
  position:relative;
  z-index:100;
}
.scroll-down-wrap.no-border .section-down-arrow:after,.slider-down-arrow.no-border:after{
  content:"";
  position:absolute;
  top:0;
  left:50%;
  display:block;
  width:30px;
  height:45px;
  margin-left:-15px;
  border:2px solid rgba(255,255,255,0.5);
  border-radius:30px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  z-index:62;
}
.scroll-down-wrap.no-border:hover .section-down-arrow:before, .slider-down-arrow.no-border:hover:before{
  background-color:rgba(255,255,255,1);
}
.scroll-down-wrap.no-border:hover .nectar-scroll-icon-path, .slider-down-arrow.no-border:hover .nectar-scroll-icon-path{
  stroke-dashoffset:0;
  -webkit-animation:mouse-scroll-btn-roll-over .55s cubic-bezier(.5,.1,.07,1);
  animation:mouse-scroll-btn-roll-over .55s cubic-bezier(.5,.1,.07,1)
}
@-webkit-keyframes mouse-scroll-btn-roll-over{
  0%{stroke-dashoffset:120}
  100%{stroke-dashoffset:0}
}
@keyframes mouse-scroll-btn-roll-over{
  0%{stroke-dashoffset:120}
  100%{stroke-dashoffset:0}
}
@-webkit-keyframes mouse-scroll-btn-roll-out{
  0%{stroke-dashoffset:0}
  100%{stroke-dashoffset:-120}
}
@keyframes mouse-scroll-btn-roll-out{
  0%{stroke-dashoffset:0}
  100%{stroke-dashoffset:-120}
}
.scroll-down-wrap.no-border .section-down-arrow:before,.slider-down-arrow.no-border:before{
  position:absolute;
  content:'';
  display:block;
  left:50%;
  margin-left:-1px;
  top:22px;
  background-color:rgba(255,255,255,0.5);
  width:2px;
  height:6px;
  border-radius:10px;
  transition:background-color .55s cubic-bezier(.5,.1,.07,1);
  -webkit-animation:trackBallSlide 2.4s cubic-bezier(0.000,0.000,0.725,1.000) infinite;
  animation:trackBallSlide 2.4s cubic-bezier(0.000,0.000,0.725,1.000) infinite;
}
@-webkit-keyframes trackBallSlide{
  0%{
    opacity:1;
    -webkit-transform:scaleY(1) translateY(-10px);
    transform:scaleY(1) translateY(-10px);
  }
  45%{
    opacity:0;
    -webkit-transform:scaleY(0.5) translateY(13px);
    transform:scaleY(0.5) translateY(13px);
  }
  46%{
    opacity:0;
    -webkit-transform:scaleY(1) translateY(-10px);
    transform:scaleY(1) translateY(-10px);
  }
  65%,100%{
    opacity:1;
    -webkit-transform:scaleY(1) translateY(-10px);
    transform:scaleY(1) translateY(-10px);
  }
}
@keyframes trackBallSlide{
  0%{
    opacity:1;
    -webkit-transform:scaleY(1) translateY(-10px);
    transform:scaleY(1) translateY(-10px);
  }
  45%{
    opacity:0;
    -webkit-transform:scaleY(0.5) translateY(13px);
    transform:scaleY(0.5) translateY(13px);
  }
  46%{
    opacity:0;
    -webkit-transform:scaleY(1) translateY(-10px);
    transform:scaleY(1) translateY(-10px);
  }
  65%,100%{
    opacity:1;
    -webkit-transform:scaleY(1) translateY(-10px);
    transform:scaleY(1) translateY(-10px);
  }
}
@keyframes nudgeMouse{
  0%{
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  45%{
    -webkit-transform:translateY(8px);
    transform:translateY(8px);
  }
  65%,100%{
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
}
@-webkit-keyframes nudgeMouse{
  0%{
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  45%{
    -webkit-transform:translateY(8px);
    transform:translateY(8px);
  }
  65%,100%{
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
}

.share-button{
  text-transform: uppercase;
  border: 2px solid #fff;
  display: inline-block;
  position: absolute;
  overflow: hidden;
  width: 134px;
  height: 40px;
  top: 60px;
  left: 15px;
  text-transform: uppercase;
  font-size: 14px;
  /*transform: translate(-50%, -50%);*/
  z-index: 999;
}
.share-button a{
   color: white;
  font-size: 12px;
   display: block;
   text-decoration: none;
   font-weight: bold;
   letter-spacing: 1px;
   line-height: 22px;
   padding: 7px 13px 7px 13px;
}
.share-button > a:after{
   font-family: FontAwesome;
   font-size: 14px;
   color: white;
   content: "\f064";
   margin-left: 10px;
}
.share-button > a:hover,
.share-button > a:hover:after,
.share-button .icon-wrapper ul li a:hover i{
  color: #e4e9ea;
}
.share-button .icon-wrapper ul li:last-child a:hover i{
  color: red;
}
.share-button .icon-wrapper{
    position: absolute;
    left: -286px;
    top: 0;
    width: 286px;
}

.share-button .icon-wrapper > a{
    display: inline-block;
}
.share-button a.hidden{
    display: none;
}
.share-button.active .icon-wrapper{
    max-height: 40px;
}
.share-button .icon-wrapper ul{
    padding-left: 0;
    margin: 0;
    height: 40px;
}
.share-button .icon-wrapper ul:after{
    clear: both;   
}
.share-button .icon-wrapper ul li{
    float: left;
    display: inline-block;
}
.share-button .icon-wrapper ul li:last-child{
    float: right;
}
.share-button .icon-wrapper ul li a i{
    color: white;
    font-size: 14px;
}
.share-button .icon-wrapper ul li:last-child a{
    background-color: white;
}
.share-button .icon-wrapper ul li:last-child a i{
    color: #2d3847;
    position: relative;
    left: 1px;
}


/* FULL SCREEN BUTTON */
.icon {
  width: 36px;
  height: 36px;
  display: block;
  overflow: show;
  position: absolute;
  top: 60px;
  /*right: 60px;*/
  right: 15px;
  z-index: 999;
}

.icon span{
  position: absolute;
  right: 50px;
  width: 93px;
  font-size: 12px;
  top: 10px;
}

.icon svg {
  max-width: 100%;
}

.fullscreen {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
}
.fullscreen .fs-icon {
  -webkit-transition: prefixed-for-transition(-webkit-, 0.5s ease-out);
  -moz-transition: prefixed-for-transition(-moz-, 0.5s ease-out);
  -ms-transition: prefixed-for-transition(-ms-, 0.5s ease-out);
  -o-transition: prefixed-for-transition(-o-, 0.5s ease-out);
  transition: 0.5s ease-out;
}
.fullscreen .fs-icon .outline {
  fill: #FFF;
}
.fullscreen .fs-icon .arrow {
  fill: #FFF;
  -webkit-transition: prefixed-for-transition(-webkit-, fill 1s ease);
  -moz-transition: prefixed-for-transition(-moz-, fill 1s ease);
  -ms-transition: prefixed-for-transition(-ms-, fill 1s ease);
  -o-transition: prefixed-for-transition(-o-, fill 1s ease);
  transition: fill 1s ease;
}
.fullscreen .fs-icon .tl {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  -ms-transform-origin: 50%;
  -o-transform-origin: 50%;
  transform: 50%;
  -webkit-transition: prefixed-for-transition(-webkit-, 0.5s ease-out);
  -moz-transition: prefixed-for-transition(-moz-, 0.5s ease-out);
  -ms-transition: prefixed-for-transition(-ms-, 0.5s ease-out);
  -o-transition: prefixed-for-transition(-o-, 0.5s ease-out);
  transition: 0.5s ease-out;
  animation: tl 1s ease-in-out;
}
.fullscreen .fs-icon .tr {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  -ms-transform-origin: 50%;
  -o-transform-origin: 50%;
  transform: 50%;
  -webkit-transition: prefixed-for-transition(-webkit-, 0.5s ease-out);
  -moz-transition: prefixed-for-transition(-moz-, 0.5s ease-out);
  -ms-transition: prefixed-for-transition(-ms-, 0.5s ease-out);
  -o-transition: prefixed-for-transition(-o-, 0.5s ease-out);
  transition: 0.5s ease-out;
  animation: tr 1s ease-in-out;
}
.fullscreen .fs-icon .bl {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  -ms-transform-origin: 50%;
  -o-transform-origin: 50%;
  transform: 50%;
  -webkit-transition: prefixed-for-transition(-webkit-, 0.5s ease-out);
  -moz-transition: prefixed-for-transition(-moz-, 0.5s ease-out);
  -ms-transition: prefixed-for-transition(-ms-, 0.5s ease-out);
  -o-transition: prefixed-for-transition(-o-, 0.5s ease-out);
  transition: 0.5s ease-out;
  animation: bl 1s ease-in-out;
}
.fullscreen .fs-icon .br {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  -ms-transform-origin: 50%;
  -o-transform-origin: 50%;
  transform: 50%;
  -webkit-transition: prefixed-for-transition(-webkit-, 0.5s ease-out);
  -moz-transition: prefixed-for-transition(-moz-, 0.5s ease-out);
  -ms-transition: prefixed-for-transition(-ms-, 0.5s ease-out);
  -o-transition: prefixed-for-transition(-o-, 0.5s ease-out);
  transition: 0.5s ease-out;
  animation: br 1s ease-in-out;
}
.fullscreen:hover .fs-icon {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: prefixed-for-transition(-webkit-, 0.5s ease-out);
  -moz-transition: prefixed-for-transition(-moz-, 0.5s ease-out);
  -ms-transition: prefixed-for-transition(-ms-, 0.5s ease-out);
  -o-transition: prefixed-for-transition(-o-, 0.5s ease-out);
  transition: 0.5s ease-out;
}
.fullscreen:hover .fs-icon .arrow {
  fill: #fff;
  -webkit-transition: prefixed-for-transition(-webkit-, fill 1s ease);
  -moz-transition: prefixed-for-transition(-moz-, fill 1s ease);
  -ms-transition: prefixed-for-transition(-ms-, fill 1s ease);
  -o-transition: prefixed-for-transition(-o-, fill 1s ease);
  transition: fill 1s ease;
  -webkit-transition: prefixed-for-transition(-webkit-, transform 0.5s ease-out);
  -moz-transition: prefixed-for-transition(-moz-, transform 0.5s ease-out);
  -ms-transition: prefixed-for-transition(-ms-, transform 0.5s ease-out);
  -o-transition: prefixed-for-transition(-o-, transform 0.5s ease-out);
  transition: transform 0.5s ease-out;
}
.fullscreen:hover .fs-icon .tl {
  -webkit-transform: translate(-4px, -4px);
  -moz-transform: translate(-4px, -4px);
  -ms-transform: translate(-4px, -4px);
  -o-transform: translate(-4px, -4px);
  transform: translate(-4px, -4px);
}
.fullscreen:hover .fs-icon .tr {
  -webkit-transform: translate(4px, -4px);
  -moz-transform: translate(4px, -4px);
  -ms-transform: translate(4px, -4px);
  -o-transform: translate(4px, -4px);
  transform: translate(4px, -4px);
}
.fullscreen:hover .fs-icon .bl {
  -webkit-transform: translate(-4px, 4px);
  -moz-transform: translate(-4px, 4px);
  -ms-transform: translate(-4px, 4px);
  -o-transform: translate(-4px, 4px);
  transform: translate(-4px, 4px);
}
.fullscreen:hover .fs-icon .br {
  -webkit-transform: translate(4px, 4px);
  -moz-transform: translate(4px, 4px);
  -ms-transform: translate(4px, 4px);
  -o-transform: translate(4px, 4px);
  transform: translate(4px, 4px);
}
.fullscreen:active .fs-icon {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: prefixed-for-transition(-webkit-, 0.5s ease-out);
  -moz-transition: prefixed-for-transition(-moz-, 0.5s ease-out);
  -ms-transition: prefixed-for-transition(-ms-, 0.5s ease-out);
  -o-transition: prefixed-for-transition(-o-, 0.5s ease-out);
  transition: 0.5s ease-out;
}
.fullscreen:active .fs-icon .arrow {
  fill: #FFF;
  -webkit-transition: prefixed-for-transition(-webkit-, fill 1s ease);
  -moz-transition: prefixed-for-transition(-moz-, fill 1s ease);
  -ms-transition: prefixed-for-transition(-ms-, fill 1s ease);
  -o-transition: prefixed-for-transition(-o-, fill 1s ease);
  transition: fill 1s ease;
  opacity: 0;
}
.fullscreen:active .fs-icon .tl {
  -webkit-transform: translate(-60px, -60px);
  -moz-transform: translate(-60px, -60px);
  -ms-transform: translate(-60px, -60px);
  -o-transform: translate(-60px, -60px);
  transform: translate(-60px, -60px);
  -webkit-transition: prefixed-for-transition(-webkit-, 0.2s ease-out);
  -moz-transition: prefixed-for-transition(-moz-, 0.2s ease-out);
  -ms-transition: prefixed-for-transition(-ms-, 0.2s ease-out);
  -o-transition: prefixed-for-transition(-o-, 0.2s ease-out);
  transition: 0.2s ease-out;
}
.fullscreen:active .fs-icon .tr {
  -webkit-transform: translate(60px, -60px);
  -moz-transform: translate(60px, -60px);
  -ms-transform: translate(60px, -60px);
  -o-transform: translate(60px, -60px);
  transform: translate(60px, -60px);
  -webkit-transition: prefixed-for-transition(-webkit-, 0.2s ease-out);
  -moz-transition: prefixed-for-transition(-moz-, 0.2s ease-out);
  -ms-transition: prefixed-for-transition(-ms-, 0.2s ease-out);
  -o-transition: prefixed-for-transition(-o-, 0.2s ease-out);
  transition: 0.2s ease-out;
}
.fullscreen:active .fs-icon .bl {
  -webkit-transform: translate(-60px, 60px);
  -moz-transform: translate(-60px, 60px);
  -ms-transform: translate(-60px, 60px);
  -o-transform: translate(-60px, 60px);
  transform: translate(-60px, 60px);
  -webkit-transition: prefixed-for-transition(-webkit-, 0.2s ease-out);
  -moz-transition: prefixed-for-transition(-moz-, 0.2s ease-out);
  -ms-transition: prefixed-for-transition(-ms-, 0.2s ease-out);
  -o-transition: prefixed-for-transition(-o-, 0.2s ease-out);
  transition: 0.2s ease-out;
}
.fullscreen:active .fs-icon .br {
  -webkit-transform: translate(60px, 60px);
  -moz-transform: translate(60px, 60px);
  -ms-transform: translate(60px, 60px);
  -o-transform: translate(60px, 60px);
  transform: translate(60px, 60px);
  -webkit-transition: prefixed-for-transition(-webkit-, 0.2s ease-out);
  -moz-transition: prefixed-for-transition(-moz-, 0.2s ease-out);
  -ms-transition: prefixed-for-transition(-ms-, 0.2s ease-out);
  -o-transition: prefixed-for-transition(-o-, 0.2s ease-out);
  transition: 0.2s ease-out;
}
.fullscreen.full .fs-icon .tl, .fullscreen.full .fs-icon .br {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  -ms-transform-origin: 50%;
  -o-transform-origin: 50%;
  transform: 50%;
  -webkit-transition: prefixed-for-transition(-webkit-, 0.5s ease-out);
  -moz-transition: prefixed-for-transition(-moz-, 0.5s ease-out);
  -ms-transition: prefixed-for-transition(-ms-, 0.5s ease-out);
  -o-transition: prefixed-for-transition(-o-, 0.5s ease-out);
  transition: 0.5s ease-out;
}
.fullscreen.full .fs-icon .tr, .fullscreen.full .fs-icon .bl {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  -ms-transform-origin: 50%;
  -o-transform-origin: 50%;
  transform: 50%;
  -webkit-transition: prefixed-for-transition(-webkit-, 0.5s ease-out);
  -moz-transition: prefixed-for-transition(-moz-, 0.5s ease-out);
  -ms-transition: prefixed-for-transition(-ms-, 0.5s ease-out);
  -o-transition: prefixed-for-transition(-o-, 0.5s ease-out);
  transition: 0.5s ease-out;
}
.fullscreen.full:hover .fs-icon {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.fullscreen.full:hover .fs-icon .tl {
  -webkit-transform: translate(-8px, -8px);
  -moz-transform: translate(-8px, -8px);
  -ms-transform: translate(-8px, -8px);
  -o-transform: translate(-8px, -8px);
  transform: translate(-8px, -8px);
}
.fullscreen.full:hover .fs-icon .tr {
  -webkit-transform: translate(8px, -8px);
  -moz-transform: translate(8px, -8px);
  -ms-transform: translate(8px, -8px);
  -o-transform: translate(8px, -8px);
  transform: translate(8px, -8px);
}
.fullscreen.full:hover .fs-icon .bl {
  -webkit-transform: translate(-8px, 8px);
  -moz-transform: translate(-8px, 8px);
  -ms-transform: translate(-8px, 8px);
  -o-transform: translate(-8px, 8px);
  transform: translate(-8px, 8px);
}
.fullscreen.full:hover .fs-icon .br {
  -webkit-transform: translate(8px, 8px);
  -moz-transform: translate(8px, 8px);
  -ms-transform: translate(8px, 8px);
  -o-transform: translate(8px, 8px);
  transform: translate(8px, 8px);
}

@keyframes tl {
  0% {
    transform: translate(8px, 8px);
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes tr {
  0% {
    transform: translate(-8px, 8px);
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes bl {
  0% {
    transform: translate(8px, -8px);
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes br {
  0% {
    transform: translate(-8px, -8px);
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}


/* FIN FULL SCREEN BUTTON */

@media only screen
       and (max-device-width: 767px)
       and (min-device-width: 375px){
    
    h1, p{
      text-align: left !important;
    }

    h1{
      font-size: 36px;
      margin-bottom: 30px;
      padding-bottom: 0px;
    }

    p{
      font-size: 18px;
    }

    img{
      max-width: 100%;
    }
  
    .section{}
    .fourth h1 {
      font-size: 36px;
    }
    .share-button, .icon, #fp-nav, .scroll-down-wrap, .aros, 
    .scrolltotop, .previs-tarjeta, .seven h1, .seven .previs-top, .zoom{
      display: none;
    }

    .cobi{
      width: 156px;
      position: inherit;
    }

    img.cobi {
      width: 156px;
    }

    .buzon{
      height: 249px;
      width: auto;
      margin: 0 auto;
      /* text-align: center; */
      display: block;
    }

    .fourth .sobre {
      position: absolute;
      top: 55px;
      right: 0;
      left: 0;
      margin: 0 auto;
      width: 132px;
    }
    
    .container{
      margin: 20px 40px;
    }

    .centered{
      position: inherit;
      top: inherit;
      transform: inherit;
    }

    .previs-sello, .previs-top,.previs-top-center,.previs-top-left1,
    .previs-top-left2,.previs-top-left3,.previs-top-right,.previs-top-right2,
    .previs-top-right3,.previs-top-right4,.previs-top-right5,.previs-bottom-left,
    .previs-bottom-left2,.previs-tarjeta,.previs-top2,.previs-top3,
    .previs-top4,.previs-bottom,.previs-bottom-center,.previs-bottom-right,
    .previs-bottom-right2,.previs-bottom-right3,.previs-bottom-right4,.absolute-center,
    .absolute-center-up,.absolute-center-up2,.absolute-center-bottom1,.absolute-center-left,
    .absolute-center-left2,.absolute-center-left3,.absolute-center-right,
    .absolute-center-right1,.absolute-center-right2,.absolute-center-right3, 
    .absolute-center-right4, .absolute-center-right5, .absolute-center-right6,
    .img-esquina-r-t, .img-esquina-l-b, .previs-sello{
      position: inherit;
      top: inherit;
      bottom: inherit;
      right: inherit;
      left: inherit;
      width: inherit;
      margin: inherit;
      //height: inherit;
    }

    .absolute-center-right1, .absolute-center-right2, .absolute-center-right3{
      height: inherit;
    }

    .img-esquina-r-t img, .img-esquina-l-b img{
      width: 100%;
      transform: inherit;
    }

    .imgmw-media{max-width: 100%;}

    .previs-tarjeta img {
      max-width: 100%;
      margin-top: 25px;
    }
    .rota2mov{transform: rotate(-2deg);}
    .rota4mov{transform: rotate(4deg);}
    

    .rota5,.rota3,.rota25,.rotam3{
      transform: inherit;
      -ms-transform: inherit;
      -moz-transform: inherit;
      -webkit-transform: inherit;
      -o-transform: inherit;
    }

    .pt80{padding-top: 20px;}

    
    .flex-parent, .flex-child{
      display: inherit;
      display: inherit;
      display: inherit;
      align-items: inherit;
      justify-content: inherit;
    }
    

    /* Menu Hamburguesa*/
    
    #menuToggle
    {
      display: block;
      position: relative;
      top: 10px;
      left: 10px;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
      background: white;
      padding: 0px;
      //width: 58px;
      width: 45px;
      height: 58px;
    }
    .hamburguesa{
      padding: 21px 11px;
    }
    #menuToggle input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      
      cursor: pointer;
      
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      
      -webkit-touch-callout: none;
    }

    /*
     * Just a quick hamburger
     */
    #menuToggle span
    {
      display: block;
      width: 22px;
      height: 3px;
      margin-bottom: 4px;
      position: relative;
      
      background: #292B32;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }

    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
    }

    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }

    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {
      position: absolute;
      width: 100%;
      margin: -100px 0 0 -10px;
      padding: 50px;
      padding-top: 125px;
      
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
      padding: 10px 0;
      font-size: 22px;
    }

    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
      transform: none;
    }

    .p60{
      padding: 60px 0 0 0;
    }
}

@media only screen and (min-device-width: 768px) 
                   and (max-device-width: 1280px){
  #menuToggle{
    display: none;
  }
}

@media only screen and (min-device-width: 1281px){
  .seven p {
    font-size: 26px;
  }
}







