
body, html {
    overflow: hidden;
}

.invisible {
    opacity: 0;
}

#fullpage {
    height: 100%;
    position: relative;
    touch-action: none;
    transition: all 700ms ease;
    transform: translate3d(0px, 0px, 0px);
}

.icon,
.share-button {
    position: fixed !important;
}

section {
    position: relative;
    display: inline-block;
    float: left;
    width: 100%;
}

.diapo {
    display: inline-block;
    float: left;
    width: 100%;
    height: 100%;
}
.cobi {
    position: absolute;
}
.cobi.no-animate {
    left: -30%;
    opacity: 0;
}
.cobi.animated {
    left: 30%;
    opacity: 1;
}


.scroll-down-wrap {
    position: fixed !important;
}