/*Portada CSS*/

body, html{
    height: 100%;
}

#portada {
    background: url(../img/portada/fondo.png);
    background-size: cover;
    background-position: center center;
}

.main {
    position: relative;
    padding: 0em 1.5em 0em 1.5em;
    height: 100%;
}

#portada .sello-contenedor {
    height: 100%;
}

#portada .sello {
    position: relative;
    height: 100%;
    background: url(../img/portada/segell-portada.png);
    background-size: cover;
    margin-top: 30px;
}

#portada .sello.no-animated {
    top: 100%;
    opacity: 0;
}

#portada .sello.animated {
    top: 0%;
    opacity: 1;
}

#portada .sello a.button {
    position: absolute;
    bottom: 12.222%;
    left: 32.255%;
    background: black;
    padding: 20px 55px;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

#portada .sello a.button.no-animated {
    opacity: 0;
}

#portada .sello a.button.animated {
    opacity: 1;
}


#portada .sobre.animaed {
    width: 29%;
    right: 0;
    top: -66px;
    position: absolute;
    z-index: 9999;
}

#portada .sobre {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
}

#portada .sobre.no-animated {
    right: -50%;
    opacity: 0;
}

#portada .sobre.animated {
    right: 0%;
    opacity: 1;
}

#portada .sobre img {
    width: 100%;
}

/* Portadad CSS fin*/