
body, html {
    overflow: hidden;
}

.full-menu {
    display: none;
}

.icon,
.share-button {
    position: fixed !important;
}

section {
    position: relative;
}

.diapo {
    position: relative;
    top: 0%;
    width: 100%;
    height:100%;
}
.diapo .diapo_container {
    display: table;
    table-layout: fixed;
    width: 100%;
    height:100%;
}

.diapo .diapo_container .diapo_content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.position-relative {
    position: relative;
}

/*

.invisible {
    opacity: 0;
}

#fullpage {
    height: 100%;
    position: relative;
    touch-action: none;
    transition: all 700ms ease;
    transform: translate3d(0px, 0px, 0px);
}


/*

/* ****************************************************************************************************************** */
/* ********** Section 1 - ANIMATIONS ******************************************************************************** */


section.first .cobi {
    position: absolute;
}

section.first .cobi.no-animated {
    left: -30%;
    opacity: 0;
}

section.first .cobi.animated {
    left: 30%;
    opacity: 1;
}


section.first .aros img.rings_all {
    visibility: hidden;
}

section.first .aros img.rings {
    position: absolute;
    width: 32%;
    max-width: 365px;
    opacity: 0;
}

section.first .aros img.rings.animated {
    opacity: 1;
}

section.first .aros img.rings.ring_blue {
    z-index: 5;
}

section.first .aros img.rings.ring_blue.no-animated {
    top: -85%;
    left: -30%;
}

section.first .aros img.rings.ring_blue.animated {
    top: 5%;
    left: 0%;
}

section.first .aros img.rings.ring_black {
    z-index: 3;
}

section.first .aros img.rings.ring_black.no-animated {
    top: -85%;
    left: 32.5%;
}

section.first .aros img.rings.ring_black.animated {
    top: 0%;
    left: 32.5%;
}

section.first .aros img.rings.ring_red {
    z-index: 1;
}

section.first .aros img.rings.ring_red.no-animated {
    top: -85%;
    right: -30%;
}

section.first .aros img.rings.ring_red.animated {
    top: 5%;
    right: 0%;
}

section.first .aros img.rings.ring_yellow {
    z-index: 4;
}

section.first .aros img.rings.ring_yellow.no-animated {
    bottom: -80%;
    left: -46%;
}

section.first .aros img.rings.ring_yellow.animated {
    bottom: 0%;
    left: 16%;
}

section.first .aros img.rings.ring_green {
    z-index: 2;
}

section.first .aros img.rings.ring_green.no-animated {
    bottom: -80%;
    right: -46%;
}

section.first .aros img.rings.ring_green.animated {
    bottom: 0%;
    right: 14%;
}

section.first .diapo.diapo_1.no-animated {
    top: 0%;
}

section.first .diapo.diapo_1.animated,
section.first .diapo.diapo_2.animated {
    top: -100%;
}

section.first .diapo.diapo_2 .text.no-animated {
    position: relative;
    top: 0px;
    left: -100%;
    opacity: 0;
}

section.first .diapo.diapo_2 .text.animated {
    position: relative;
    top: 0px;
    left: 0%;
    opacity: 1;
}

section.first .diapo.diapo_2 .image {
    position: absolute;
    bottom: -160%;
    right: -57%;

    opacity: 0;
}

section.first .diapo.diapo_2 .claim.no-animated {
    opacity: 0;
}

section.first .diapo.diapo_2 .claim.animated {
    opacity: 1;
}



/* ****************************************************************************************************************** */
/* ********** Section 2 - ANIMATIONS ******************************************************************************** */


section.second .diapo.diapo_1 .titulodesc.no-animated {
    opacity: 1;
}

section.second .diapo.diapo_1 .titulodesc.animated{
    opacity: 0;
}

section.second .diapo.diapo_1 .img-esquina-r-t {
    top: -70px;
    padding-left: 450px;
}
section.second .diapo.diapo_1 .img-esquina-r-t img {
    transform: rotate(0deg);
}
section.second .diapo.diapo_1 .img-esquina-r-t.no-animated {
    transform: rotate(-18deg);
    transition: .5s;

}
section.second .diapo.diapo_1 .img-esquina-r-t.animated {
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%) rotate(0deg);
    transition: .5s;
}

section.second .diapo.diapo_1 .img-esquina-l-b {
    padding-right: 450px;
}
section.second .diapo.diapo_1 .img-esquina-l-b img {
    transform: rotate(0deg);
}

section.second .diapo.diapo_1 .img-esquina-l-b.no-animated {
    transform: rotate(13deg);
    transition: .5s;
}

section.second .diapo.diapo_1 .img-esquina-l-b.animated {
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%) rotate(0deg);
    transition: .5s;
}

section.second .diapo.diapo_1 .minidesc {
    position: relative;
    width: 100%;
    margin-top: 5px;
}

section.second .diapo.diapo_1 .minidesc p {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 0px 0px 0px 20px;
    font-size: inherit;
}

section.second .diapo.diapo_1 .minidesc.no-animated {
    opacity: 0;
}

section.second .diapo.diapo_1 .minidesc.animated {
    opacity: 1;
}

section.second .diapo.diapo_1.no-animated {
    top: 0%;
}

section.second .diapo.diapo_1.animated,
section.second .diapo.diapo_2.animated {
    top: -100%;
}

section.second .diapo.diapo_2 .buzon {
    position: absolute;
    top: 50%;
    left: 46%;
    width: 6%;
    transform: scale(1,1) translateX(-46%) translateY(-50%);
    transition: .5s;
    opacity: 0;
}

section.second .diapo.diapo_2 .buzon.animated {
    transform: scale(5,5);
    opacity: 1;
}

section.second .diapo.diapo_2 .sobre {
    position: absolute;
    transform: scale(0.9, 0.9);

}
section.second .diapo.diapo_2 .sobre.no-animated {
    bottom: -160%;
    right: -57%;

    opacity: 0;
}


/* ****************************************************************************************************************** */
/* ********** Section 3 - ANIMATIONS ******************************************************************************** */

section.third .diapo.diapo_1 .image_mariscal {
    position: absolute;
    top: 0px;
    left: 0px;
}
section.third .diapo.diapo_1 .image_mariscal.no-animated {
    position: absolute;
    top: 600px;
    left: -30%;
    opacity: 0;
}

section.third .diapo.diapo_1 .image_mariscal.animated {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
}

section.third .diapo.diapo_1 .image_cobiCirculo.no-animated {
    position: absolute;
    top: 800px;
    left: 61%;
    transform: translateX(-61%);
    opacity: 0;
}

section.third .diapo.diapo_1 .image_cobiCirculo.animated {
    position: absolute;
    top: 0px;
    left: 61%;
    transform: translateX(-61%);
    opacity: 1;
}

section.third .diapo.diapo_1 .image_cobiSello.no-animated {
    position: absolute;
    top: 600px;
    right: -30%;
    opacity: 0;
}

section.third .diapo.diapo_1 .image_cobiSello.animated {
    position: absolute;
    top: 0px;
    right: -6%;
    opacity: 1;
}


/* ****************************************************************************************************************** */
/* ********** Section 3 - ANIMATIONS ******************************************************************************** */

section.fourth .diapo.diapo_1 .part1 {
    position: relative;
}

section.fourth .diapo.diapo_1 .part1.no-animated {
    top: 0px;
    opacity: 1;
}
section.fourth .diapo.diapo_1 .part1.animated {
    top: -100%;
    opacity: 0;
}

section.fourth .diapo.diapo_1 .part2 {
    position: absolute;
}


section.fourth .diapo.diapo_1 .part2 .text-left {
    opacity: 0;
}

section.fourth .diapo.diapo_1 .part2.no-animated {
    top: 100%;
    margin-top: -60px;
}

section.fourth .diapo.diapo_1 .part2.animated {
    top: 35%;
}

section.fourth .diapo.diapo_1 .part2.animated .text-left {
    opacity: 1;
}










.scroll-down-wrap {
    position: fixed !important;
}
